/* index.html */

.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
      }

ul {
    font-family: 'Roboto Condensed', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

#food {
  margin-bottom: 0px;
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/b5/02/ff/b502ffcb20f995d407b1cc6e20a79f41.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
 color: white;
}

/* food.html */

#r1{
	text-align: center;
}
#r2{
	text-align: center;
}

#r3{
    position: fixed;
    float: top;
<<<<<<< HEAD
    top: 50vh;
=======
    top: 75vh;

>>>>>>> origin/master
}
#c1{
    width: 35vw;
    height: 100vw;
    background-color: skyblue;
    position: fixed;
    float: left;
    left: 0vw;
}

#c2{
    width: 35vw;
    height: 100vw;
    background-color:  lightpink;
    position: fixed;
    float: left;
    left: 35vw;
}

#c3{
    width: 35vw;
    height: 100vw;
    background-color: rgb(160, 255, 170);
    position: fixed;
    float: left;
    left: 70vw;
}


#r4{
    position: fixed;
    float: left;
<<<<<<< HEAD
    top: 12vh;
    left: 1vw;
=======
    top: 225px;
    left: 260px;

>>>>>>> origin/master
}

#pic{
    width: 120vw;
    height: 37vw;
  
}

/*
#r5{
	text-align: center;
    position: fixed;
    top: 225px;
    left: 500px;
*/
